/*********************
       Mobile
*********************/
@media handeld and (max-width:480px), screen and (max-device-width: 480px), screen and (max-width: 750px) {
  /* line 9, content/stylesheets/mobile.css */
  #menu {
    display: none; }

  /* line 13, content/stylesheets/mobile.css */
  #slash {
    display: none; }

  /* line 17, content/stylesheets/mobile.css */
  #page {
    width: 320px; }
    /* line 20, content/stylesheets/mobile.css */
    #page #content {
      width: 310px;
      margin: 0 auto; }
      /* line 24, content/stylesheets/mobile.css */
      #page #content h3 {
        font-size: 20px;
        font-weight: bold; }
      /* line 29, content/stylesheets/mobile.css */
      #page #content .title_green {
        font-size: 15px; }
      /* line 33, content/stylesheets/mobile.css */
      #page #content p {
        font-size: 15px;
        text-align: left; }

  /* line 40, content/stylesheets/mobile.css */
  #logo {
    margin-left: 80px; }

  /* line 44, content/stylesheets/mobile.css */
  #create {
    margin-left: 80px;
    margin-bottom: 50px; } }
