<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>EPSN</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/screen.css"/>
        <link href='http://fonts.googleapis.com/css?family=Tinos:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Kristi' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    </head>

    <body>

        <div id="page">

            <div id="header">
            	<a href="index.html"><img src="images/EPSN_logo.jpg" id="logo" alt=""  /></a>
                <p>Ecole fondée en 1992 à Lausanne</p>
                <ul id="menu">
                    <li><a href="index.html" id="active">Accueil</a></li>
                    <li><a href="principes.html">Principes</a></li>
                    <li><a href="programme.html">Programme</a></li>
                    <li><a href="inscription.html">Inscription</a></li>
                </ul>
                <div id="slash">
                    <img src="images/slash.jpg" id="one" alt=""  />
                    <img src="images/slash.jpg" id="two" alt=""  />
                    <img src="images/slash.jpg" id="three" alt=""  />
                </div>
            </div>
            
<%= yield %>

        </div>

    </body>
</html>