<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>EPSN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
  <link rel="stylesheet" type="text/css" href="stylesheets/mednat.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/mobile.css">
  <link href='http://fonts.googleapis.com/css?family=Tinos:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kristi' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>
<body>

  <div id="main">
    <header>
      <div id="logo">
        <img src="images/EPSN_logo.jpg" alt="logo EPSN" />
        <h3>Lausanne</h3>
        <h1>Ecole Professionnelle Supérieure de Naturopathie</h1>
      </div>
      <div class="both" />
      <h2>Trouver Julien à Mednat pour avoir des informations sur la formation en naturopathie</h2>
      <img src="images/charlie_julien.jpg" alt="Julien" />
      <img src="images/ou_julien.jpg" alt="Où est Julien" />
      <div class="both" />
    </header>
    <article id="formulaire">
      <%= yield %>
    </article>
  </div>
  <footer>
    <h1>CONTACT</h1>
    <div id="administration">
      <h2>Administration</h2>
      <p>EPSN</p>
      <p>C/o Liquid Concept Sàrl</p>
      <p>Rue du Maupas 19C</p>
      <p>1004 Lausanne</p>
    </div>
    <div id="lieu_cours">
      <h2>Lieu des cours</h2>
      <p>Ecole-club Migros Lausanne</p>
      <p>Rue de Genève 35</p>
      <p>1003 Lausanne</p>
    </div>
    <div class="both" />
  </footer>
 </body>
 </html>