<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>EPSN</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/mednat.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/mobile_mednat.css">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <script src="/javascript/application.js"></script>
  <script src="/javascript/modernizr.js"></script>
</head>
<body>
  <section class="main">
    <article class="main">
      <div id="content_logo">
        <h1 id="logo">Epsn logo</h1>
        <div id="label">
          <p class="label_logo_1">Lausanne</p>
          <p class="label_logo_2">Ecole Professionnelle Supérieure de Naturopathie</p>
        </div>
      </div>
      <h2>Trouver Julien à Mednat pour avoir des informations sur la formation en naturopathie</h2>
      <div class="image_julien">
        <h6 class="julien">charlie_julien</h6>
        <h6 class="ou_est_julien">ou_est_julien</h6>
      </div>
    </article>

    <section class="content">
      <%= yield %>
    </section>

    <footer class="main">
      <section class="description">
          <div class="content">
            <h4>Ecole Professionnelle Supérieure de Naturopathie</h4>
            <h5>L'EPSN est la seule école en Suisse a être reconnue pour la formation de Naturopathe issue de la synthèse de Pierre-Valentin Marchesseau.</h5>
            <p>Cet homme remarquable, surnommé l’Hippocrate des temps modernes, a su tracer un sillon droit et profond où chacun peut s’installer ou ne faire que passer. Ce biologiste-médecin qui fit un travail de synthèse des connaissances disponibles à son éoque pour créer la Naturopathie orthodoxe.</p>
            <p>Il était fasciné par ce qu’il appelait la merveilleuse machine humaine qu’est le corps humain et la façon de lui apporter les meilleures conditions pour le maintenir dans son état de bon fonctionnement originel.</p>
            <p>Il se dépensa sans compter pendant 60 ans au service de la Naturopathie et de sa diffusion, en France puis en Europe et enfin dans le Monde.</p>
          </div>
        </article>
      </section>
      <section class="contact">
        <div class="content">
          <h3>Contact</h3>
          <div id="addresses">
            <address class="administration">
              <h5>Administration</h5>
              <p>EPSN</p>
              <p>C/o Liquid Concept Sàrl</p>
              <p>Rue du Maupas 19C</p>
              <p>1004 Lausanne</p>
            </address>
            <address class="place_lesson">
              <h5>Lieu des cours</h5>
              <p>Ecole-club Migros Lausanne</p>
              <p>Rue de Genève 35</p>
              <p>1003 Lausanne</p>
            </address>
          </div>
          <div id="network">
            <div class="icon"><a href="mailto:info@epsn.ch"><img src="/images/mail.png" /><p>info@epsn.ch</p></a></div>
            <div class="icon"><img src="/images/phone.png" /><p>078 614 12 63</p></div>
            <div class="icon"><a href="http://www.facebook.com/pages/EPSN-Ecole-Professionnelle-Sup%C3%A9rieure-de-Naturopathie/322131964515320?fref=ts"><img src="/images/fb.png" /><p>EPSN Facebook</p></a></div>
            <div class="icon"><a href="https://twitter.com/epsnnat"><img src="/images/twitter.png" /><p>@epsnnat</p></a></div>
          </div>
          <div class="copyright">
            <p>© 1992-2013 Ecole Professionnelle Supérieure de Naturopathie à Lausanne, Suisse</p>
          </div>
        </div>
      </section>
    </footer>
  </section>
 </body>
 </html>