@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";

/*----------------------------------------*/
/*                 COLOR                  */
/*----------------------------------------*/

$dark_green: #0F6022;
$green: #3a5d29;
$grey: #525252;
$light_grey: #E5E5E5;
$black: #000;
$white: #FFF;

/*----------------------------------------*/
/*                DEFAULT                 */
/*----------------------------------------*/

body {
  border-top: 8px solid $dark_green;
}

a {
  color: $white;
  border: none;
}

h1 {
  font-size: 3em;
  font-family: Arial;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-family: Arial;
  color: $grey;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  font-family: Arial;
  color: $dark_green;
  font-weight: bold;
}

h4 {
  font-size: 1.5em;
  font-family: Arial;
  color: $grey;
  font-weight: bold;
}

h5 {
  font-size: 1.2em;
  font-family: Arial;
  color: $black;
  font-weight: bold;
}

p {
  font-size: 0.9em;
  font-family: Arial;
  color: $black;
}

/*----------------------------------------*/
/*                HEADER                  */
/*----------------------------------------*/

section.main {
  article.main {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 25px;

    #content_logo {
      width: 700px;
      height: 75px;
      margin-top: 15px;

      h1#logo {
        width: 160px;
        height: 75px;
        @include replace-text('EPSN_logo.jpg');
        float: left;
      }

      #label {
        padding-top: 30px;

        .label_logo_1 {
          font-family: Arial;
          font-size: 1.5em;
          font-weight: bold;
          color: $dark_green;
          margin-left: 170px;
        }

        .label_logo_2 {
          font-family: Arial;
          font-size: 1em;
          margin-left: 170px;
        }
      }
    }
    
    h2 {
      margin-top: 25px;
      text-align: center;
    }

    .image_julien {
      margin: 25px 0px 0px 0px;
      @include pie-clearfix;

      h6.julien {
        width: 319px;
        height: 382px;
        float: left;
        @include replace-text('charlie_julien.jpg');
        margin-left: 60px;
      }

      h6.ou_est_julien {
        width: 331px;
        height: 173px;
        float: right;
        @include replace-text('ou_julien.jpg');
        margin: 60px 60px 0px 0px;
      }
    }
  }
}

/*----------------------------------------*/
/*             CONTENT FORM               */
/*----------------------------------------*/

section.content {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 25px;

  h2 {
    margin-bottom: 15px;
    text-align: center;
  }

  h3 {
    margin-bottom: 15px;
    text-align: center;
  }

  article.inscription {
    form {
      width: 650px;
      height: 280px;
      margin: 0 auto;

      .input_form {
        width: 600px;
        height: 40px;
        margin-bottom: 10px;

        label {
          margin-bottom: 20px;
          font-size: 1.5em;
          font-family: Arial;
          font-weight: bold;
          color: $grey;
        }

        input, select {
          width: 351px;
          height: 35px;
          font-size: 24px;
          font-family: Arial;
          float: right;
          background-color: $white;
          border: solid $grey 2px;
          @include border-radius(5px);
        }

        input {
          width: 345px;
        }

        select {
          font-size: 1em;
        }
      }

      .subscribe {
        width: 600px;
        height: 50px;
        color: $white;
        font-size: 1.5em;
        border-style: none;
        @include border-radius(5px);
        background-color: $green;
      }
    }
  }
}

/*----------------------------------------*/
/*                 FOOTER                 */
/*----------------------------------------*/

/*************** DESCRIPTION **************/

footer.main {
  section.description {
    background-color: $light_grey;
    border-top: $grey solid 1px;

    .content {
      width: 700px;
      margin: 0 auto;
      padding: 25px 0px 25px;

        h4 {
          margin-bottom: 15px;
        }

        h5 {
          margin-bottom: 15px;
        }

        p {
          text-align: justify;
        }
      }
    
  }

/**************** CONTACT ****************/

section.contact {
  background-color: $grey;

   .content {
      width: 700px;
      height: 300px;
      margin: 0 auto;
      padding-top: 25px;

      h3 {
        color: $white;
      }

      #addresses {
        width: 375px;
        height: 100px;
        float: left;
        @include pie-clearfix;

        address.administration {
          float: left;
          margin-top: 10px;

          h5 {
            color: $white;
            margin-bottom: 10px;
          }

          p {
            margin-bottom: 3px;
            color: $white;
          }
        }

        address.place_lesson {
          float: right;
          margin-top: 10px;

          h5 {
            color: $white;
            margin-bottom: 10px;
          }

          p {
            margin-bottom: 3px;
            color: $white;
          }
        }
      }

      #network {
        width: 250px;
        height: 200px;
        float: right;
        padding-left: 25px;
        @include pie-clearfix;

        .icon {
          height: 35px;
          margin-bottom: 10px;

          p {
            height: 35px;
            float: right;
            padding-top: 10px;
            color: $white;
            font-size: 1.5em;
          }

          img {
            height: 35px;
            width: 35px;
            float: left;
          }
        }
      }
      
      .copyright {
        width: 700px;
        margin-top: 230px;

        p {
          text-align: center; 
          color: $white;
        }
      }
    }
  }
}