/*********************
       Mobile
*********************/

@media handeld and (max-width:480px),
		screen and (max-device-width: 480px),
		screen and (max-width: 750px) {
		
	#menu {
		display: none;
	}

	#slash {
		display: none;
	}

	#page {
		width: 320px;

		#content {
			width: 310px;
			margin: 0 auto;

      h3 {
      font-size: 20px;
      font-weight: bold;
      }

      .title_green {
      font-size: 15px;
      }

      p {
        font-size: 15px;
        text-align: left;
      }
		}
	}

	#logo{
		margin-left: 80px;
	}

	#create {
		margin-left: 80px;
    margin-bottom: 50px;
	}		
}		