/*********************
       Mobile
*********************/

@media handeld and (max-width:480px),
    screen and (max-device-width: 480px),
    screen and (max-width: 480px) {

  body {

    #main {
      max-width: 480px;

      h2 {
        font-size: 10px;
      }

      #header {

        img.julien {
          margin: 0;
        }
      }

      footer {
        max-width: 480px;

         section.description {

          article {

            #description {
              display: block;

            }
          }
         }
      }
    }
  }
}